body {
  margin: 0;

  background-color: #FFAB91;
  font-family: comic sans Ms, cursive, sans-serif;
}
ul {
  list-style: none;
}
.avtarImg {
position: relative;
left: 260px;
}
.input {
background-image: linear-gradient(to right,#ccffff, #66ffff, #00ffff);
border: 1px dotted gray; }
.button{
  background-color: #00ffff;
  border-radius: 10px;
  border: 1px dotted gray;
}